/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: radial-gradient(circle at top, #6E5AA5 1%, transparent 20%), 
              radial-gradient(circle at right, #4EC3E0 1%, transparent 30%),
              #140F3F;
  color: #ffffff;
  height: 100vh;
  background-attachment: fixed;
}

.container {
  max-width: 1200px; /* Set a fixed width */
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 9rem;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.site-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar nav {
  display: flex;
  gap: 1.5rem; /* Add spacing between nav items */
}

.navbar nav a {
  text-decoration: none;
  color: #ffffff;
}

.main-content {
  display: flex;
  justify-content: center;
  gap: 18rem;
  flex: 1;
  padding: 3rem 0;
}

.cardleft, .cardright {
  text-align: center;
  width: 300px;
}

.cardleft p, .cardright p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.cardleft button, .cardright button {
  border: none;
  padding: 0.8rem 5rem;
  border-radius: 50px;
  cursor: pointer;
  white-space: nowrap;
}

.cardleft button {
  background: #140F3F;
  color: #ffffff;
  border: 2px solid #95D6F3;
}

.cardleft button:hover {
  background: #2c82cc;
}

.cardright button {
  background: #95D6F3;
  color: #000000;
}

.cardright button:hover {
  background: #a3c6f3;
}
